# dépendances
node_modules/
.env
.cache

# logs
logs
*.log

# système
.DS_Store
Thumbs.db

# build
dist/
build/

# IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# TanStack Start
.vinxi/
.tanstack
.output/
.nitro/
dist/
build/

